<div class="icon-bar">
    {% if site.facebook_url %}
    <a href="{{ site.facebook_url }}" target="_blank" class="facebook">
        <i class="fa fa-facebook"></i>
    </a>
    {% endif %}
    {% if site.twitter_url %}
    <a href="{{ site.twitter_url }}" target="_blank" class="twitter">
        <i class="fa fa-twitter"></i>
    </a>
    {% endif %}
    {% if site.youtube_url %}
    <a href="{{ site.youtube_url }}" target="_blank" class="youtube">
        <i class="fa fa-youtube"></i>
    </a>
    {% endif %}
    {% if site.discord_url %}
    <a href="{{ site.discord_url }}" target="_blank" class="discord">
        <i class="fa fa-discord"></i>
    </a>
    {% endif %}
    {% if site.instagram_url %}
    <a href="{{ site.instagram_url }}" target="_blank" class="instagram">
        <i class="fa fa-instagram"></i>
    </a>
    {% endif %}
    {% if site.whatsapp_url %}
    <a href="{{ site.whatsapp_url }}" target="_blank" class="whatsapp">
        <i class="fa fa-whatsapp"></i>
    </a>
    {% endif %}
</div>