<script src="https://giscus.app/client.js"
        data-repo="Steven-alfa-betta/AB_comments"
        data-repo-id="R_kgDOIJc6hA"
        data-category="Announcements"
        data-category-id="DIC_kwDOIJc6hM4CZFTz"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="nl"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>