<div class="social-icons">
    <a class="social-icon-facebook" href="{{site.social.facebook}}" target="_blank">
        <ion-icon name="logo-facebook" size="large"></ion-icon>
    </a>
    <a class="social-icon-youtube" href="{{site.social.youtube}}" target="_blank">
        <ion-icon name="logo-youtube" size="large"></ion-icon>
    </a>
    <a class="social-icon-discord" href="{{site.social.discord}}" target="_blank">
        <ion-icon name="logo-discord" size="large"></ion-icon>
    </a>
    <a class="social-icon-instagram" href="{{site.social.instagram}}" target="_blank">
        <ion-icon name="logo-instagram" size="large"></ion-icon>
    </a>
</div>